{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/homepage/home.css' %}">

<div class="text-blocks-container">
  <h1 class="title-abril">A report to the United Nations on egregious human rights violations in Slovenia and inhumane treatment in the healthcare system.</h1>
  <p class="paragraph-abel">
    In Slovenia, where the shadow of nationalist convictions obscures justice, foreign citizens
become unprotected targets for arbitrary action. Law enforcement agencies and prosecutors,
disregarding Articles 1, 2, 5 and 7 of the UN Universal Declaration of Human Rights (1948),
flagrantly violate the rights guaranteed to everyone. Falsification of reports, abuse of
authority, and violation of jurisdiction are among the tools used to avoid bringing criminal
cases against Slovenian citizens who commit crimes against foreigners.
Medical institutions have become arenas for inhumane treatment of patients. Complaints go
unheard, treatment does not meet international standards, and medications that have not undergone proper clinical trials are administered without the consent of patients, turning them
into unwitting test subjects...
    <a href="{% url 'articles:article-detail' 42 %}" class="learn-more-link">click to learn <img src="{% static 'img/scroll-arrow-right.png' %}"></a>
  </p>

    <h1 class="title-abril">Brief description of files for the report on egregious human rights violations in Slovenia and inhumane treatment in the healthcare system.</h1>
  <p class="paragraph-abel">
    Brief description of documents confirming human rights violations by a representative of the Minister of the Interior of Slovenia: In appeal protocol No. 2600-2/2024/15, dated May 10, 2024, filed with the Nova Gorica police, a representative of the Slovenian Minister of the Interior assured that all my complaints and statements would be forwarded to the specialized prosecutors office for further investigation...
    <a href="{% url 'articles:article-detail' 43 %}" class="learn-more-link">click to learn <img src="{% static 'img/scroll-arrow-right.png' %}"></a>
  </p>

  <h1 class="title-abril">Report to the UN on gross violations of human rights by Europol, the European Ombudsman for Human Rights and the Hague police.</h1>
  <p class="paragraph-abel">
    Having exhausted all administrative resources in Slovenia, our Deputy President, Oleg Korob, decided to file an application on corruption and cover up of a criminal group by officials of the Prosecutor`s office and the representative of the Ministry of Internal Affairs to Europol (File 31). He personally came to The Hague for this purpose. However, Europol not only refused to accept the application but also called the police to arrest Oleg Korob for filing this application...
    <a href="{% url 'articles:article-detail' 44 %}" class="learn-more-link">click to learn <img src="{% static 'img/scroll-arrow-right.png' %}"></a>
  </p>


</div>



{% endblock %}