{% extends "base.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/homepage/home.css' %}">

  <!-- Newspaper Header Section -->
  <div class="newspaper-header">
    <h1 class="newspaper-title">About us</h1>
  </div>
  <p class="newspaper-subhead">IF A ONE-HUNDRED-PERCENT PROBABILITY EXISTS, THEN IT IS ACHIEVABLE</p>

  <div class="d-flex justify-content-end">
    <div class="sub-box">
      <h2 class="newspaper-sub-title">PROTECTING HUMAN RIGHTS</h2>
      <p class="newspaper-sub-subhead">DEFENDING RIGHTS AND FREEDOM AROUND THE WORLD</p>
    </div>
  </div>

  <img class="bg-logo" src="{% static 'img/logo.png' %}" alt="">
  <!-- Main Content -->
  <article class="newspaper-article">
    <div class="article-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat nulla et porta porttitor. Praesent magna nulla, gravida a ornare vel, eleifend quis nisi. In commodo lectus libero, a fringilla risus consectetur quis. Mauris ornare, sapien sit amet dignissim aliquam, nibh magna sagittis odio, non lobortis nisi est vitae diam. Praesent pellentesque, turpis a scelerisque blandit, ligula neque faucibus nisi, ut condimentum turpis diam dictum lorem.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat nulla et porta porttitor. Praesent magna nulla, gravida a ornare vel, eleifend quis nisi. In commodo lectus libero, a fringilla risus consectetur quis. Mauris ornare, sapien sit amet dignissim aliquam, nibh magna sagittis odio, non lobortis nisi est vitae diam. Praesent pellentesque, turpis a scelerisque blandit, ligula neque faucibus nisi, ut condimentum turpis diam dictum lorem.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat nulla et porta porttitor. Praesent magna nulla, gravida a ornare vel, eleifend quis nisi. In commodo lectus libero, a fringilla risus consectetur quis. Mauris ornare, sapien sit amet dignissim aliquam, nibh magna sagittis odio, non lobortis nisi est vitae diam.
        </p>
      </div>
  </article>
{% endblock %}
